
* {
  margin: 0;
  padding: 0;
}

.custom-navbar-bg {
  background-color: rgb(20, 1, 45);
  color: aliceblue;
}

.download-bg {
  background-color: red;
}

.welcome-bg {
  background-color: rgba(203, 13, 13, 0.273);
  width: 30%;
}

.pic_container {
  width: 100%;
  height: auto;
}

.icon-style {
  color: white;
}

.social-media {
  list-style: none;
}

.sm-icon {
  /* padding: 0.5rem; */
}

/* .sm-title-wrapper{
  /* rotate: 90; */

/* width: 100%; */

/* flex-grow: 2; */

/* color:red; */

/* } */
.sm-title {
  rotate: 90deg;

  /* white-space: nowrap; */

  /* width: 100%; */

  /* flex-grow: 2; */
  color: red;
}

.headline {
  background-image: url("../src/components/assets/images/Transparent\ BG.png");
  background-repeat: no-repeat;
  background-position: bottom -220px left 600px;
  height: 100vh;
  background-size: 50%;
}

@media screen and (max-width: 998px) {
  .headline {
    background-image: url("../src/components/assets/images/Transparent\ BG.png");
    background-repeat: no-repeat;
    background-position: bottom -20px right 10px;
    background-size: 50%;
  }
}
