
* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .custom-navbar-bg {
    background-color: rgb(20, 1, 45);
    color: aliceblue;
  }

  /* .headline-vh { */

  /* padding-top: 1.5rem; */

  /* background-color: rgb(20, 1, 45); */

  /* } */

  .headline {
    background-image: url("../src/components/assets/images/Transparent\ BG.png");
    background-repeat: no-repeat;
    background-position: bottom 50px right 10px;
    background-size: 40%;

    /* height: 100vh; */
    padding-top: 3rem;
  }

  .ms-style {
    flex-direction: column;
    justify-content: start;
    padding: 1rem 1rem 10rem 1rem;
  }

  .line {
    display: none;
  }

  .p-style {
    /* font-size: 22px; */
    margin: 0;

    /* width: 327px;
    height: 128px; */
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* padding-left: 26px; */

    /* margin-top: 0; */
  }

  .sm-title {
    rotate: 0deg;
    padding-top: 0.3rem;
    color: red;
  }

  .social-media {
    list-style: none;
    gap: 0.5rem;
    flex-direction: row;
    padding: 0.1rem;
  }

  .sm-icon1 {
    gap: 0.3rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1rem 3rem;
    order: 1;
  }

  .sm-icon {
    font-size: 1rem;
  }

  .icon-style {
    color: red;
  }

  .space-container {
    display: none;
  }

  .headline-text {
    flex-grow: 0;
    padding: 1rem;
    padding-top: 2rem;
  }

  .btn-hide {
    display: none;
  }

  .welcome-bg {
    /* background-color: rgba(203, 13, 13, 0.273); */
    width: 30%;
    font-size: 1.5rem;
    white-space: nowrap;
    padding-left: 0.5rem;
    background-color: rgba(203, 13, 13, 0.273);
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .headline {
    background-image: url("../src/components/assets/images/Transparent\ BG.png");
    background-repeat: no-repeat;
    background-position: top 50px right 0.01px;
    background-size: 30%;

    /* height: 100vh; */
  }

  .custom-navbar-bg {
    background-color: rgb(20, 1, 45);
    color: aliceblue;
  }

  .download-bg {
    background-color: red;
  }

  /* .welcome-bg {
    background-color: rgba(203, 13, 13, 0.273);
    max-width: 30%;
  } */

  .icon-style {
    color: red;
  }

  .social-media {
    list-style: none;
    padding-top: 2rem;
    padding-left: 0;
    margin-bottom: 0;
  }

  .headline-text {
    flex-grow: 1;
    padding: 0 1rem 4rem 0;
  }

  .sm-icon1 {
    gap: 1rem;
    padding: 0.1rem;
    rotate: 90deg;
    width: 10%;
    height: 10%;
  }

  .sm-icon {
    font-size: 1.2rem;
    padding: 0.3rem;
    rotate: 270deg;
  }

  .space-container {
    width: 20%;
  }

  .line {
    border: 1.5px solid rgba(255, 0, 0, 0.689);
    rotate: 90deg;
    margin: 2rem  1rem 0 1rem;
  }

  .ms-style {
    padding: 2rem 0 0 5rem;
  }

  .sm-title {
    padding: 2.5rem 0 0 0;
    white-space: nowrap;
    color: red;
  }
}

@media screen and (min-width: 1001px) {
  .custom-navbar-bg {
    background-color: rgb(20, 1, 45);
    color: aliceblue;
  }

  .download-bg {
    background-color: red;
  }

  .headline-vh {
    padding: 0 5rem 0 5rem;
    background-color: rgb(20, 1, 45);
  }

  .welcome-bg {
    background-color: rgba(203, 13, 13, 0.273);
    max-width: 15%;
    padding: 1rem;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 5%;
    margin-bottom: 0;
  }

  .icon-style {
    color: red;
    font-size: 1.3rem;
  }

  .social-media {
    list-style: none;
    flex-direction: column;
  }

  .primary-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 52px;
  }

  .headline-text {
    flex-grow: 2;

    /* padding: 5rem 0 0 0; */
    height: 128px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }

  .p-style {
    /* background-color: red; */
    padding-top: 2rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  .sm-icon1 {
    flex-direction: column;
    gap: 3rem;
    padding-top: 2.3rem;
  }

  .sm-icon {
    font-size: 1.5rem;
  }

  .space-container {
    width: 10%;
  }

  .line {
    border: 1px solid rgba(255, 0, 0, 0.689);
    rotate: 90deg;
    margin: 2rem  3.7rem 0 1rem;
    width: auto;
  }

  .sm-title {
    rotate: 90deg;
    padding-top: 2.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: red;
  }

  .headline {
    background-image: url("../src/components/assets/images/Transparent\ BG.png");
    background-repeat: no-repeat;
    background-position: top 50px right 10px;
    background-size: 35%;
    padding: 120px 24px;
    height: 100vh;
    gap: 12px;
  }

  /* .ms-style{
    padding: 51rem;
    background-color: red;
    margin: 1rem;
  } */
}


/* PROJECT SECTION STYLING */
.project-container {
  background-color: rgba(35, 20, 66, 0.951);
}

.project-title-wrapper {
  display: flex;
  justify-content: space-around;
}

.project-nav-item-wrapper {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 2rem;
}

.project-nav-item {
  padding: 1rem;
}

.skills-container {
  list-style: none;
  padding-left: 0;
}

.skills-container > li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #384cff;
  background: #ebebff;
  border-radius: 8px;
  border: none;
  padding: 6px;
}
